<div>
  <link href="./blog-post-card1.css" rel="stylesheet" />
  <div class="blog-post-card1-blog-post-card">
    <img
      alt="image"
      src="/playground_assets/absensi-400h.png"
      image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="blog-post-card1-image"
    />
    <div class="blog-post-card1-container">
      <h1 class="blog-post-card1-heading">
        <span>Lorem ipsum dolor sit amet</span>
      </h1>
      <span class="blog-post-card1-text">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
          volutpat turpis. Mauris luctus rutrum mi ut rhoncus. Integer in
          dignissim tortor. Lorem ipsum dolor sit amet, consectetur adipiscing
          ...
        </span>
      </span>
    </div>
  </div>
</div>
